.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  width: 70%;
  margin: auto;
  padding: 0.2rem;
}

.form button {
  width: 20%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
