.lists {
  margin: 15px 0;
  border: 1px solid;
  padding: 25px;
  border-radius: 5px;
  background-color: #42b9f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists:nth-child(4n + 1) {
  background-color: #0774ab;
}

.lists:nth-child(4n + 2) {
  background-color: #0344d2;
}

.lists:nth-child(4n + 3) {
  background-color: #031655;
}

.lists span {
  font-size: 24px;
  font-weight: 400;
  margin-right: 15px;
}

.lists button {
  background-color: transparent;
  border-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 15px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.check {
  color: #aaa;
}

.uncheck {
  color: #fff;
}
